{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <span style="color: red"> Do not use your real email</span><br/>
    You will receive an email that can be seen on <a href="http://localhost:8025/" target="_blanck">http://localhost:8025/</a> or equivalent.<br/>
    <i>Disclaimer: not implemented for security reasons</i>
    <br/>
    
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
